* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    /* height: 40px; */
    background: blue;
    color: white;
    /* word-spacing: 90px; */
    /* padding: 10px; */
}

.soft {
    margin-left: 115px;
}

span {
    margin-left: 40px;
    font-size: 18px;
    margin-top: 50px;
}

i {
    color: red;
}

.getbtn {
    border: none;
    background: red;
    color: white;
    margin-left: 210px;
    /* margin-right: 10px; */
    outline: none;
    border-radius: 6px;
    padding: 10px;
}

.getbtn:hover {
    background: rgba(237, 142, 142, 0.929);
}

#imglogo {
    margin-right: 150px;
    margin-left: 90px;
}

nav {
    /* word-spacing: 20px; */
    background: whitesmoke;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a {
    margin-right: 25px;
    text-decoration: none;
}

nav a:hover {
    color: red;
}
.whyicon{
    color: blue;
    background-color: #fff;
}

#register {
    border: 1px solid red;
    border-bottom: none;
    padding: 10px;
    color: rgb(65, 65, 155);

}

#register:hover {
    color: red;
}

img {
    width: 100px;
}

.hero {
    /* height: 110px ; */
    width: 100%;
    height: 110vh;
    background: url(./images/c8.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    /* filter: brightness(0.5); Values > 1 brighten the image */

}
.hero::before {
    position: absolute;
    content: "";
    background: #0e0e0e61;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.heroh1 {
    font-weight: 700;
    font-size: 2.5rem;
}

.heroh2 {
    color: white;
}

.herotext {
    color: rgb(255, 255, 255);

}

.panelbtn {
    background: grey;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-size: 20px;
    padding-left: 30px;
    margin-top: 40px;
}

.icondiv {
    position: relative;
    /* left: 18px; */
    /* border: 20px solid black; */

}
.icon-and-text:hover i{
    background-color: red;
    color: #f7f6f6;
}
.icon {
    border-radius: 50px;
    color: white;
    position: absolute;
    left: -4px;
    bottom: 1px;
    background-color: red;
    padding: 10px;
}

.herotxt {
    position: relative;
}
.hero-and-4-div{
    /* position: relative; */
}

/*--------------------------------- card div----------------------------- */
.contain-4-div {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    width: 80%;
    /* height: ; */
    margin: auto;
    margin-bottom: 10px;
    margin-top: -100px;
    margin-bottom: 40px;
    position: relative;
    /* bottom: -250px; */
    /* left: 120px; */
    /* position: absolute; */
}

.choose {
    height: 380px;
    width: 350px;
    background: red;
    color: white;
    padding: 20px;
    border-radius: 6px;
}

.choosetxt {
    margin-top: 50px;
    font-size: 18px;
}

.learnbtn {
    background: rgba(239, 237, 237, 0.555);
    color: rgba(255, 255, 255, 0.635);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 60px;
    /* position: relative; */
}

.learnicon {
    color: rgba(255, 255, 255, 0.635);
    margin-left: 4px;
    margin-top: 5px;

}

.box {
    /* height: 550px; */
    width: 200px;
    padding: 20px;
    /* border: 1px solid black; */
    text-align: center;
    /* box-shadow: -1px 6px 10px 2px rgb(217, 214, 214); */
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* transform: scale(0.9); */
    /* transform: scale(1.5); */
    border-radius: 15px;
    background: #fff;

}

.boxicon {
    color: red;
    margin-bottom: 30px;
    /* margin-left: 20px; */
    font-size: 25px;

}

.boxh2 {
    margin-bottom: 40px;
}

.boxtxt {
    color: rgb(92, 90, 90);

}


/* ------------------------section3  about us------------------------ */
.great {
    height: 750px;
    width: 100%;
    background-color: rgb(237, 232, 232);
    display: flex;
    gap: 15px;
    justify-content: space-around;
    /* text-align: center; */

}

.greattxt {
    /* text-align: center; */
    margin-top: 100px;
    width: 550px;
    margin-right: 90px;
    margin-left: 40px;
}

.greatimg {
    width: 500px;
    height: 500px;
    margin-left: 80px;
    margin-top: 40px;
}

.icongreat {
    padding: 20px;
    border-radius: 50%;
    border: 2px solid rgb(218, 174, 174);
    background: white;
    margin-bottom: 60px;
}

.about {
    color: rgb(78, 77, 77);
    margin-bottom: 10px;
}

.greath1 {
    margin-bottom: 20px;
}

.maintxt {
    margin-bottom: 50px;
    font-size: 18px;
    color: rgb(97, 96, 96);
    font-weight: 200;
    font-size: 16px;

}

.icon-and-text {
    display: flex;
}

.great-p {
    color: rgb(99, 95, 95);
    font-weight: 400;
    /* text-align: center; */
    /* margin-left: 10px; */
}

/*-------------------------- icons for 11 icon---------------- */
.icons {
    /* position: relative; */
    height: 250px;
    background-color: #fff;
}

.img-section {
    margin: auto;
    /* border: 2px solid black; */
    width: 80%;
    overflow: scroll;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.img-section::-webkit-scrollbar{
    display: none;
}
.section-icon {
    margin-top: 90px;
    height: 100px;
    /* width: 200px; */
    /* width: 75%; */
    opacity: 0.5;
    transition: ease-in-out 0.3s;
    /* -webkit-filter: grayscale(100%); */
    filter: grayscale(100%);
}
.section-icon:hover{
    filter: none;
    opacity: 1;
}
/*---------- dots----------- */

.dot-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;

}

.dot {
    background-color: white;
    border: none;
 /* color: blue !important; */
    outline: none;
}
.dot i{
    color:#3a343b;
}



/*------------------section-services---------------- */
.services {
    background-color: rgb(250, 237, 239);
    height: 1100px;
    padding: 0px;
}

.servicesh1 {
    color: blue;
    /* margin-top: 40px; */
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 550;
    /* margin-top: 20px; */
}

.servicestxt {
    color: #3a343b;
    text-align: center;
    margin-bottom: 60px;

}

.s-h1-p {
    /* margin-top: 40px; */
}
.services-card-div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 40px;
    column-gap: 5px;
    /* margin-left: 40px; */
    /* align-items: center; */
    justify-items: center;
    /* align-content: center; */
    margin-left: 50px;
    margin-right: 50px;

}
.small-services-div{
    /* border: 2px solid black; */
    text-align: center;
    padding: 10px;
    height: 400px;
    /* width: 390px; */
    position: relative;
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.5;
    box-shadow:  1px 1px 11px 0px rgb(212, 210, 210);
  margin: 10px;
  /* margin-bottom: 90px; */

}
.services-card-div-h1{
    margin-top: 20px;
    margin-bottom: 30px;
        color: #3a343b;

}
.small-services-div p{
    color: #3a343b;
}
.small-services-div h1:hover{
    color: rgb(248, 79, 79);
}
.small-services-div i{
    color: white;
   padding: 20px;
   border: 2px solid rgb(248, 110, 110);
   border-radius: 50%;
   position: absolute;
   top: -30px;
   right: 155px;
   background-color: red;
}
.small-services-div i:hover{
    background-color: #fff;
    color: red;
}

/*------------------------- img -4-div------------------------ */


.images-4-card{
    /* height: 900px; */
    display: grid;
    grid-template-columns:  1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    margin:  40px 50px ;
    /* text-align: center; */
}
.img-div{
    height: 440px;
    /* width: 369px; */
    position: relative;

}
.img-div1{
    background-image: url(./images/c5.jpg);

}
.img-div2{
    background-image: url(./images/softwizz_value2.png);
}
.img-div3{
    background-image: url(./images/softwizz_value3.jpg);
}
.img-div4{
    background-image: url(./images/softwizz_value6.jpg);
}
.txt-of-img{
    background-color: #ffffffc1;
    position: absolute;
    padding: 20px;
    text-align: center;
    bottom: 18px;
    left: 18px;
    right: 18px;
    border-radius: 4px;
    height: 200px;
    color: #3a343b;
}
.txt-of-img:hover{
    color: #fff;
    background-color: rgb(251, 103, 103);
}
.txt-of-img p{
    margin-top: 20px;
    /* color: #3a343b; */
}
/*---------------------------- tree-img------------------------- */
.tree-img{
    background-image: url(./images/softwizz_bg.jpg);
      background-size: cover;
      height: 400px;
      background-repeat: no-repeat;
      margin-bottom: 50px;
    /* background-color: #3a343b; */
}
.contact{
    background-color: #f7f6f6;
    height: 300px;
}
.contact-h1{
    color: blue;
    margin-bottom: 50px;
    text-align: center;
}
.card-3{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.contact-div{
    width: 260px;
    height: 160px;
    padding: 40px;
    position: relative;
    text-align: center;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow:  0 0 30px rgba(214, 215, 216, 0.6);;
    color: rgb(67, 66, 66)
}
.contact-div i{
    position: absolute;
    left: 18px;
    top: 18px;
    color: red;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    border: 2px dotted rgb(241, 195, 195);  
}
.contact-div p{
   text-align: center;
   margin-top: 10px; 
}


/* -------------------footer --------------------------------*/

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 240, 242);
    color: #3a343b;
}
footer div{
    margin-top: 60px;
}
footer h5{
    margin-bottom: 20px;
}
footer h4{
    margin-bottom: 30px;
    font-size: 28px;
    color: rgb(213, 110, 110);
}
ul{
   list-style: none;
   margin-top: 15px;
}
li{
    margin-top: 15px;
}
footer img{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}
.foot-div1{
     width: 250px;
}
.phone{
    margin-top: 40px;
}
.last-txt{
    margin-top: 20px;
    margin-bottom: 20px;
}
.fa-greater-than{
    font-size: 12px;
   font-weight: 100;
    margin-right: 5px;
}

.txt-icon{
    display: flex;
    justify-content: space-between;
}
.icon-footer{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 36px;
}